img {
    border: 7px solid white;
    border-radius: 60%;
    width: 25%;
    margin-left: auto;
    margin-right: auto;

    display: block;
    background-position: center;
} 

body {
	background:  url("https://upload.wikimedia.org/wikipedia/commons/9/9a/BellevueAndSeattle.jpg");
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
} 

li {
	display:  inline;
	padding:  0px 10px 0px 10px;
	float: left;
} 

a {
	text-align: center;
} 

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
	background-color: blue;
}

h1 {
	text-align: center;
	color: #ECD444;
	font-size: 25px;
} 

p {
	font-size: 20px;
	text-align: center;
	color: antiquewhite;
}